body {
    background-color: rgb(26, 26, 26);
    margin: auto;
    width: 1920px;
    height: 1080px;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: none;
    user-select: none;
}
.title{
    margin-left: 195px;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    animation: fadeIn 5s;
    color: white;
    opacity: 100%;
    position: absolute;
}
.cyan{
    color: rgb(146, 233, 255);
    text-shadow: 0px 0px 50px rgb(152, 242, 255,1);
    pointer-events: painted;
}
.btn{
    border: 2px solid white;
    background-color: rgba(255,0,0,0);
    color: white;
    padding: 4px 8px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 500px;
    margin-left: 325px;
    border-radius: 25px;
    animation: fadeInBtn 6s;
    position: absolute;
    pointer-events: auto;
}
.btnnoanim{
    border: 2px solid white;
    background-color: rgba(255,0,0,0);
    color: white;
    padding: 4px 8px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 500px;
    margin-left: 325px;
    border-radius: 25px;
    position: absolute;
    animation: onlyfadeIn 5s;
    pointer-events: auto;
}
.btn:hover{
    background-color: white;
    color: black;
}
.portbutton{
    margin-left: 450px; 
}
.aboutmehomebutton{
    margin-top: 100px;
    margin-left: 100px;
}
.cyan:hover{
    color: red;
    text-shadow: 0px 0px 50px rgb(255, 152, 152);
}
.btnnoanim:hover{
    background-color: white;
    color: black;
}
.abtmdsc{
    margin-top: 350px;
    margin-left: 250px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(245, 250, 255);
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: autoBio 5s;
}
.aboutme{
    margin-top: 500px;
    position: absolute;
    margin-left: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
    animation: abtmAnim 5s;
}
/* keyframes */
@keyframes onlyfadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0; margin-top: 1000px;
    } 
    95%{
        margin-top: 100px;
    }
    100%{
        opacity: 100%;
    }
    100%{
        margin-top: 100px;
    }
}
@keyframes fadeInBtn {
    0%{
        opacity: 0; margin-top: 1000px;
    } 
    95%{
        margin-top: 500px;
    }
    100%{
        opacity: 100%;
    }
    100%{
        margin-top: 500px;
    }
}
@keyframes pfpAnim {
    0%{
        margin-left: 100%; opacity: 0;
    }
    45%{
        opacity: 0.2    ;
    }
    100%{
        margin-left: 50%; opacity: 1;
    }
}
@media screen and (max-width: 1700px) {
    .picofme {
      display: none;
    }
  }
@keyframes abtmAnim {
    0%{
        margin-top: 1000px;
    }
    100%{
        margin-top: 500px;
    }
}
@keyframes autoBio{
    0%{
        margin-left: -1000px ;
    }
    100%{
        margin-left: 250px;
    }
}