body{
    background-color:rgb(56, 88, 158);
}

.q1, .yey{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.pic{
    background-color: black;
}

.buttonY,.buttonN{
    width: 35%;
    height: 30px;
    border-radius: 25px;
    border-style: none;
}

.buttonY{
    margin-right: 65px;
}
.ask{
    font-family: Helvetica;
    font-size: 250%;
    color: white;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.yes1{
    opacity: 0%;
}

.jok{
    margin-right: 27%;
}

.jok2{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.sumbong{
    font-family: Helvetica;
    color: white;
    position: relative;
    margin-left: 5%;
    width: 100%;
}

.diko{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinning-text span {
    display: inline-block;
    animation: spin 5s linear infinite; /* Adjust the duration and timing function as needed */
}

/* Additional styling for better visibility */
.spinning-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: Helvetica;
}

.ily{
    position: absolute;
    left: 54%;
    transform: translateX(-50%);
    width: 85%;
}

#confetti {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    height: 100%;
    position: absolute;
    top: 0;
  }

.ella{
    font-family: Helvetica;
    color: rgb(255, 0, 238);
    position: absolute;
    top: 50%;
    text-shadow: 1px 1px black;
    left: 50%;
    transform: translate(-50%, -50%);
}