body {
    background-color: rgb(26, 26, 26);
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
.title{
    text-align: center;
    margin-left: 43%;
    margin-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    animation: fadeIn 5s;
    color: white;
    opacity: 100%;
    position: absolute;
}
.cyan{
    color: rgb(146, 233, 255);
}
/* keyframes */
@keyframes fadeIn {
    0%{
        opacity: 0; margin-top: 20%;
    } 
    95%{
        margin-top: 10%;
    }
    100%{
        opacity: 100%;
    }
    100%{
        margin-top: 10%;
    }
}